body {
  margin-right: 3em;
  margin-left: 3em;
}

h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0;
    font-size: 13px;
}

.pnl-h {
    font-size: 13px;
    padding-bottom: 0px;
}

#members {
    color: #0088cc;
    font-size: 1.5em;
    float:right;
    font-weight: bold;
    margin-top: 20px;
}

#repos {
    margin-top:20px;
}

.repo-item {
    position:relative;
    float: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.repo-item .span6 {
    margin-left: 10px !important;
}

.repo-item .numbers {
    float:right;
}

.repo-item .num-box {
    display: block;
    margin-bottom: 5px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.repo-item .num-box .txt {
    font-size: 11px;
}

.repo-item .forks {
    background-color: #E6F8DD;
    color: #003366;
}

.repo-item .pull-reqs {
    background-color: #E6F8DD;
    color: #003366;
}

.repo-item .stars {
    background-color: #E6F8DD;
    color: #003366;
}

.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   border: 1px solid #ccc;
}

.styled-select select {
   padding: 0px;
   padding-top: 0px;
   padding-left: 5px;
   color: #1F75A7;
   font-family: Helvetica neue;
   font-size: 12px;
   font-weight: 500px;
   height: 26px;
   width: 185px;
   min-height: 26px;
   max-height: 26px;
   border: 1px solid #AAAAAA;
   box-shadow: 0px 2px 2px #CCC;
   vertical-align: baseline;
   border-radius: 0;
   text-align: center;
   -webkit-appearance: none;
}

.styled-select select option {
   align: right;
   text-align: right;
   margin-right: 5px;
}

div.styled-select:active, 
div.styled-select:focus, 
div.styled-select:hover {  
   outline: 0px none;
   outline-style: none;
   -moz-outline-style: none;
}

