html body {
    color: #333;
    font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
   /*background: url(http://p.ebaystatic.com/aw/pics/cmp/ds3/imgbg.jpg) repeat 0 0 #f8f8f8;*/
}

ul,ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}

.btn {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0 3px 0 #DDD;
    font-size: 16px;
    padding: .5em 1.2em;
    white-space: nowrap;
}

.btn {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.l-shad {
    position: relative;
    border: 1px solid #DDD;
    background: white;
}

.lftd {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.l-shad:hover {
    border: 1px solid #AAA;
}

.l-shad::before {
    content: "";
    position: absolute;
    z-index: 0;
}

.lftd::before {
    bottom: 15px;
    left: 5px;
    width: 40%;
    height: 10%;
    -webkit-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
    box-shadow: 0 15px 6px rgba(0,0,0,0.3);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

#gh-f {
    display: none;
}

.btn {
    display: inline-block;
    zoom: 1;
    *display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 3px 0 #ddd;
    font-size: 16px;
    padding: .3em 1.0em;
    *padding: .2em .9em;
    border: 1px solid transparent;
    margin: 0;
    overflow: visible;
}

.btn:hover {
    text-decoration: none;
    border: 1px solid transparent #0065b0;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,.2);
    box-shadow: 0 0 0 rgba(0,0,0,.2);
    -moz-transition: background-position .1s linear 0s;
    background-color: #eee;
    background-position: 0 -15px;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn-prim {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    background: #00509d;
    background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
    background: -moz-linear-gradient(top,#0079bc,#00509d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0079bc',endColorstr='#00509d');
}

.btn-prim:hover,.btn-prim:focus,.btn-prim:active {
    background: #00509d;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00509d',endColorstr='#00509d');
}

.g-hdn {
    font-size: 0;
    height: 0;
    line-height: 0;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
}

.lftd {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.l-shad::before {
    content: "";
    position: absolute;
    z-index: -2;
}

#Center {
    margin: 10px 0 0 220px;
}

html body {
    font-size: small;
}

a:hover {
    color: #0654ba!important;
}

a,a:link {
    color: #0654ba;
}

a,a:hover {
    color: #0654ba;
    text-decoration: underline;
}

.l-shad {
    float: none;
}

#cbelm.cb {
    padding-top: 0;
}

input[type="text"],select,textarea {
    padding: 3px;
}

.l-shad:hover {
    border: 1px solid #AAA;
}

.pagn .pagn-prev a.prev,.pagn .pagn-next a.next,.pagn .pagn-prev a.prev-d,.pagn .pagn-next a.next-d {
    padding: 100!important;
}

a,a:link,a,a:hover {
    color: #0032b1;
}

a:hover {
    color: #0032b1!important;
}

#gh-f {
    display: block;
}

#gh-ac::-webkit-input-placeholder {
    font-size: 0;
    color: #fff;
}

#gh-ac:-ms-input-placeholder {
    font-size: 0;
}

body {
    position: relative;
    margin: 0;
    min-height: 1024px;
}


.btn {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
/*
body {
    line-height: 1;
} [SD]*/

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

caption {
    text-align: left;
    font-weight: normal;
    float: none!important;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

blockquote {
    margin: 1.5em;
    color: #555;
    font-style: italic;
    font-family: serif;
}

ul,ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}

li ul {
    margin: 0;
}

dl {
    margin: 0 0 1.5em 0;
}

dd {
    margin-left: 1.5em;
}

ins {
    color: #000;
    background-color: #ff9;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration;line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,select {
    vertical-align: middle;
}

a img {
    border: 0 none;
}

strong {
    font-weight: bold;
}

body {
    font-size: 13px;
    color: #333;
    background-color: #fff;
    font-family: Arial,Sans-Serif,Verdana;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.846em;
    line-height: 1.95em;
    margin-bottom: .5em;
    font-family: Trebuchet MS,Arial,Serif;
}

h2 {
    font-size: 1.538em;
    line-height: 1.70em;
    margin-bottom: .75em;
    font-family: Trebuchet MS,Arial,Serif;
}

h3 {
    font-size: 1.385em;
    line-height: 1;
    margin-bottom: 1em;
    font-family: Trebuchet MS,Arial,Serif;
}

h4 {
    font-size: 1.231em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1.154em;
    line-height: 1.17em;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 0 0 1em;
}

a,a:link {
    color: #1958bd;
    text-decoration: none;
}

a:focus,a:hover {
    color: #1958bd;
    text-decoration: underline;
}

a:visited {
    color: #731077;
    text-decoration: none;
}

body {
    position: relative;
    min-height: 1024px;
}

#Left {
    position: relative;
}

#Left {
    float: left;
    z-index: 1;
    width: 210px;
    margin-top: 10px;
}

#Center {
    margin: 0 0 0 225px;
    _overflow: hidden;
    zoom: 1;
}

.li {
    border-bottom: 1px solid #ccc;
    border-collapse: separate;
    width: 100%;
}

@-moz-document url-prefix() {
    .prdC .cont {
        left: 1px;
    };
}

.lnav {
    position: relative;
    width: 210px;
    margin-bottom: 20px;
}

@charset "utf-8";

.tabs-h {
    position: relative;
    background-color: inherit;
}

.tabs-b {
    position: relative;
    border: solid #ccc;
    border-width: 0 1px 1px 1px;
    overflow: auto;
}

.tab-b {
    position: relative;
    background-color: #fff;
}

.li {
    width: 100%;
    border-collapse: collapse;
}


.li .binsold {
    color: #f00;
}

table.li {
    border: 0;
    padding: 10px 0;
    *margin: 20px 0;
    border-collapse: separate;
}

table.li.rsittlref {
    table-layout: fixed;
}

#cbelm.cb {
    background: #fff;
    border: 1px solid #fff;
    border-width: 0 0 1px 0;
    height: 31px;
    padding-top: 10px;
    *z-index: 1;
    zoom: 1;
}

.cb .clt {
    float: left;
    padding-top: 2px;
    line-height: 16px;
}

.cb .crt {
    float: right;
}

.cb .rcnt {
    display: inline-block;
    *display: inline;
    vertical-align: top;
}

.cb .rcnt,.cb .active {
    font-weight: bold;
}

img {
    border: 0;
}





























































































































































































