html body {
    color: #333;
    font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
    background: url(http://p.ebaystatic.com/aw/pics/cmp/ds3/imgbg.jpg) repeat 0 0 #f8f8f8;
}

ul,ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}

.btn {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0 3px 0 #DDD;
    font-size: 16px;
    padding: .5em 1.2em;
    white-space: nowrap;
}



.btn {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}



.l-shad {
    position: relative;
    border: 1px solid #DDD;
    background: white;
}


.lftd {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.l-shad:hover {
    border: 1px solid #AAA;
}

.c-std {
    border: 1px solid #DDD;
    border-radius: 3px;
    background-color: white;
    box-shadow: 4px 4px 1px #EEE;
    padding: 17px 20px 9px;
    margin-bottom: 20px;
}

.l-shad::before {
    content: "";
    position: absolute;
    z-index: 0;
}

.lftd::before {
    bottom: 15px;
    left: 5px;
    width: 40%;
    height: 10%;
    -webkit-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
    box-shadow: 0 15px 6px rgba(0,0,0,0.3);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

#gh-f {
    display: none;
}
#gh {
    padding-bottom: 0!important;
}
.rsw {
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    zoom: 1;
    *display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 3px 0 #ddd;
    font-size: 16px;
    padding: .3em 1.0em;
    *padding: .2em .9em;
    border: 1px solid transparent;
    margin: 0;
    overflow: visible;
}

.btn:hover {
    text-decoration: none;
    border: 1px solid transparent #0065b0;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,.2);
    box-shadow: 0 0 0 rgba(0,0,0,.2);
    -moz-transition: background-position .1s linear 0s;
    background-color: #eee;
    background-position: 0 -15px;
}

.btn:active {
    position: relative;
    top: 1px;
}



.btn-prim {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    background: #00509d;
    background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
    background: -moz-linear-gradient(top,#0079bc,#00509d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0079bc',endColorstr='#00509d');
}

.btn-prim:hover,.btn-prim:focus,.btn-prim:active {
    background: #00509d;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00509d',endColorstr='#00509d');
}
.g-hdn {
    font-size: 0;
    height: 0;
    line-height: 0;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
}




.lftd {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}



.l-shad::before {
    content: "";
    position: absolute;
    z-index: -2;
}


#Center {
    margin: 10px 0 0 220px;
}


html body {
    font-size: small;
}

#Foot {
    clear: both;
}



.wnd-s {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}


#LeftPanel,div.fsbr {
    background: 0;
    border-width: 0;
}

a:hover {
    color: #0654ba!important;
}

#ResultSetItems a:link,a,a:link {
    color: #0654ba;
}

#ResultSetItems a:hover,a,a:hover {
    color: #0654ba;
    text-decoration: underline;
}


.l-shad {
    float: none;
}


div.cbx a.cbx {
    margin: 0;
}

div.cbx {
    margin-left: 17px;
}








#cbelm.cb {
    padding-top: 0;
}

.rst .cbrt {
    min-height: 31px;
}


.li div.bin,.li td.dtl div.dyn {
    font-size: 12px;
    font-weight: normal;
    font-family: inherit;
    color: #555;
}

.asp .pnl {
    border: 0;
    margin-bottom: 15px;
}


.asp .pnl-h h3 {
    font-size: 14px;
}










#vFoot {
    overflow: hidden;
    min-width: 860px;
    background: #fff;
    border-top: 1px solid #CCC;
    margin: 10px 0 0;
    padding: 40px 10px;
}

#glbfooter {
    border: 0;
    margin: 0;
    padding: 0;
}







input[type="text"],select,textarea {
    padding: 3px;
}



.l-shad:hover {
    border: 1px solid #AAA;
}



.asp .pnl-h h3,.wnd-t {
    font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
}




#ResultSetItems a:link,a,a:link,#ResultSetItems a:hover,a,a:hover,.gh-w a,.gh-w a:visited {
    color: #0032b1;
}

a:hover {
    color: #0032b1!important;
}



#gh-f {
    display: block;
}




#gh-ac::-webkit-input-placeholder {
    font-size: 0;
    color: #fff;
}


#gh-ac:-ms-input-placeholder {
    font-size: 0;
}






.gh-w input[type="text"] {
    border: 0;
}

.gh-w input[type="text"]:focus {
    border: 0;
}

body {
    position: relative;
    margin: 0;
    min-height: 1024px;
}

noscript.nojs {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}









.btn {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}




html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}


caption {
    text-align: left;
    font-weight: normal;
    float: none!important;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

blockquote {
    margin: 1.5em;
    color: #555;
    font-style: italic;
    font-family: serif;
}

ul,ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}


dl {
    margin: 0 0 1.5em 0;
}


dd {
    margin-left: 1.5em;
}

ins {
    color: #000;
    background-color: #ff9;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration;line-through;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,select {
    vertical-align: middle;
}

a img {
    border: 0 none;
}

strong {
    font-weight: bold;
}

body {
    font-size: 13px;
    color: #333;
    background-color: #fff;
    font-family: Arial,Sans-Serif,Verdana;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.846em;
    line-height: 1.95em;
    margin-bottom: .5em;
    font-family: Trebuchet MS,Arial,Serif;
}

h2 {
    font-size: 1.538em;
    line-height: 1.70em;
    margin-bottom: .75em;
    font-family: Trebuchet MS,Arial,Serif;
}

h3 {
    font-size: 1.385em;
    line-height: 1;
    margin-bottom: 1em;
    font-family: Trebuchet MS,Arial,Serif;
}

h4 {
    font-size: 1.231em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1.154em;
    line-height: 1.17em;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
}


p {
    margin: 0 0 1em;
}



a,a:link {
    color: #1958bd;
    text-decoration: none;
}

a:focus,a:hover {
    color: #1958bd;
    text-decoration: underline;
}


a:visited {
    color: #731077;
    text-decoration: none;
}


.clr:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.clr {
    display: block;
}

body {
    position: relative;
    min-height: 1024px;
}





#Head,#Body,#Foot {
    position: relative;
}

#Head {
    position: fixed;
    z-index: 20;
}

#Head {
    top: 0;
    left: 0;
    width: 100%;
}

#Body {
    margin: 0 auto;
    padding: 0 15px 10px 15px;
}

#Foot {
    min-width: 800px;
}

#Top,#Left,#Bottom {
    position: relative;
}

#Left {
    float: left;
    z-index: 1;
    width: 210px;
    margin-top: 10px;
}


#Center {
    margin: 0 0 0 225px;
    _overflow: hidden;
    zoom: 1;
	padding: 15px 0px 5px 25px;
}

#Bottom {
    clear: both;
}



#TopPanel {
    position: relative;
    margin-bottom: 0;
}

#LeftPanel {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    _position: static;
}


#CenterPanel {
    position: relative;
    _float: left;
    _width: 100%;
}

#BottomPanel {
    position: relative;
}



.wnd-c {
    z-index: 7;
}



.li {
    border-bottom: 1px solid #ccc;
    border-collapse: separate;
    width: 100%;
}

.li td {
    padding: 5px;
    vertical-align: top;
}



.li td img {
    border: 0 none;
}





@-moz-document url-prefix() {
    .prdC .cont {
        left: 1px;
    }
}



.sArr b {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMBJREFUeNq8lAsOxCAIRGuzN/L+N9AzsULEWMrHTetOYpsivBDLmEophyPo74SPnDN91FovcSnKQzAA3FaLwyS5T+o5ar0KFlAT7MFvYAXqgi34BWxAQ7AGH2AHugSW8P0dbz3jrVPx1hx/LMs19yR2GDuO1eIjx/Ss1fHTdR6bpIKnS0aLhwvzTq0Yz9SCL8sziPbXA4dSDV3FkaV/gXPuAK90EcHnHAbDijy43EPwo3HrJlKNksjX/5rjN/QVYABOtzhldWji5QAAAABJRU5ErkJggg==) no-repeat scroll 0 0;
    width: 12px;
    height: 12px;
    display: block;
}

.ttLyr {
    z-index: 1001;
    max-width: 340px;
    -webkit-box-shadow: 2px 4px 4px rgba(51,65,80,.35);
    -moz-box-shadow: 2px 4px 4px rgba(51,65,80,.35);
    box-shadow: 2px 4px 4px rgba(51,65,80,.35);
    position: absolute;
    left: -9999px;
    border: 1px solid #ccc;
    background: #fff;
}

#ttContent {
    padding: 15px;
}



#ttArr.sArr {
    position: absolute;
    top: -9px;
    right: 20px;
}

#ttArr.sArr b.BOTTOM {
    background-position: 0 -12px;
}


.wnd {
    position: fixed;
    visibility: hidden;
    z-index: 6;
    top: -1000px;
    left: -1000px;
}

.wnd {
    font-family: Helvetica,Tahoma,Verdana,Sans-Serif;
    font-size: 13px;
}

.wnd-f {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
}



.wnd-s {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    box-shadow: 3px 5px 3px #ccc;
    -moz-box-shadow: 3px 5px 3px #ccc;
    -webkit-box-shadow: 3px 5px 3px #ccc;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(strength=10,direction=135,color='#cccccc');
    filter: progid:DXImageTransform.Microsoft.Shadow(strength=10,direction=135,color='#cccccc');
}

.wnd-h {
    position: relative;
    padding: 10px 20px 5px 15px;
}

.wnd-t {
    position: relative;
    color: #5d5d5d;
    font-family: Trebuchet MS;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
}

.wnd-c {
    position: absolute;
    display: block;
    width: 10px;
    height: 11px;
    top: 5px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
}

.wnd-c {
    background: transparent center center no-repeat;
    background-image: url(http://pics.ebaystatic.com/aw/pics/cmp/ds2/iconClose.png?e);
}

.wnd-b {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

#gh {
    padding-bottom: 0;
}


.lnav {
    position: relative;
    width: 210px;
    margin-bottom: 20px;
}



div.sbx-c {
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 0!important;
    margin-bottom: 20px;
}

div.sbx-c a {
    color: #333;
    text-decoration: none;
}

div.sbx-c a:hover {
    color: #1958bd;
}


div.sbx-b {
    clear: both;
    overflow: auto;
}

div.sbx-b ul.ts-u {
    padding: 0!important;
}

div.sbx-b li {
    padding: 4px 0!important;
}


div.cbx {
    position: relative;
    margin: 3px 0 0 16px;
    padding: 0 2px;
    text-indent: -23px;
}

div.cbx a.cbx {
    position: relative;
    margin: 0 2px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

div.cbx a.cbx:hover {
    color: #1958bd;
    cursor: pointer;
}

div.cbx span.cbx {
    position: relative;
    top: 2px;
}


input[type=checkbox].cbx {
    margin: 3px 3px 3px 4px;
}



.asp .pnl {
    position: relative;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.asp .pnl .pnl-h {
    border: 0;
    padding: 2px 0;
    background-color: transparent;
    text-align: left;
}

.asp .pnl-h h3 {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    display: inline;
    cursor: pointer;
}

.asp .pnl-h .hdn {
    font-size: 0;
    height: 0;
    line-height: 0;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
}

.asp .pnl-h a.more {
    float: right;
    margin: 2px 5px 0 5px;
    color: #999;
    font-size: 13px;
    text-decoration: none;
    white-space: nowrap;
}

.asp .pnl-b {
    padding-bottom: 10px;
    padding-left: 1px;
    overflow: hidden;
}











@charset "utf-8";

.hdn {
    display: none;
}





div.sbx-c {
    border-bottom: 1px solid #ccc;
    color: #1958bd;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 5px;
}


ul.ts-u {
    list-style: none outside none;
    margin: 10px 0;
    padding: 0;
}

ul.ts-u li {
    list-style: none outside none;
    line-height: 1.25em;
    padding: 8px 0 6px;
}


.tabs {
    position: relative;
}

.tabs-h {
    position: relative;
    background-color: inherit;
}

.tabs-b {
    position: relative;
    border: solid #ccc;
    border-width: 0 1px 1px 1px;
    overflow: auto;
}










.tab-b {
    position: relative;
    background-color: #fff;
}

.rst .tabs-h,.rst .tabs-b {
    border: 0;
    overflow: visible;
}







.rst .tab-b {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: visible;
}


.rst .cb {
    position: relative;
    overflow: auto;
    background-color: #f5f5f5;
    border-color: #ccc #f5f5f5 #f5f5f5;
    border-width: 0 1px 1px 1px;
}




.mgBtm10 {
    margin-bottom: 10px;
}



.clr {
    clear: both;
}





.li {
    width: 100%;
    border-collapse: collapse;
}


.li td {
    vertical-align: top;
    padding: 0 15px 5px 10px;
}











.rs a:hover,.rst a:hover {
    color: #1958bd;
    text-decoration: none;
}

.li td.dtl {
    padding-left: 20px;
}


.li td.dtl div.dyn {
    font-size: 11px;
    font-family: inherit;
    color: #333;
    line-height: 1.3em;
    padding-right: 16px;
}

.li td.dtl div.dynS {
    margin-top: 5px;
}








table.li td.prc {
    width: 110px;
    text-align: right;
}


.li td.prc div {
    margin-bottom: 5px;
    clear: both;
}






.li div.dyn span.v {
    color: #000;
    font-weight: normal;
}


.li td img {
    border: 0;
}













div.dyn div.s1 {
    color: #000;
    min-width: 130px;
    width: 50%;
}

div.dyn div.s1 span {
    padding-right: 5px;
}


div.dynS div.s1 {
    width: 100%;
    margin: 2px 0;
}


* html div.dyn div.s1 {
    margin-top: -3px;
}








;

.li .binsold {
    color: #f00;
}









table.li {
    border: 0;
    padding: 10px 0;
    *margin: 20px 0;
    border-collapse: separate;
}

table.li.rsittlref {
    table-layout: fixed;
}






.rst .cbrt {
    min-height: 41px;
}

.rst .cb {
    overflow: visible;
}





.li td.prc {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}









#cbelm.cb {
    background: #fff;
    border: 1px solid #fff;
    border-width: 0 0 1px 0;
    height: 31px;
    padding-top: 10px;
    *z-index: 1;
    zoom: 1;
}

.cb .clt {
    float: left;
    padding-top: 2px;
    line-height: 16px;
}

.cb .crt {
    float: right;
}

.cb .rcnt {
    display: inline-block;
    *display: inline;
    vertical-align: top;
}

.cb .rcnt,.cb .active {
    font-weight: bold;
}


.li div.bin {
    font: normal 11px arial;
    color: #666;
    white-space: normal;
}



.prc .g-b {
    font-weight: bold;
}




.li td.dtl div.dyn {
    font-size: 12px;
    color: #666;
}




.li td.prc {
    padding: 0 5px 5px 10px;
}


a.bTop {
    position: fixed;
    background: url(http://ir.ebaystatic.com/f/wpn4adkdme5zdmg4ubxwzp5nomz.png) no-repeat scroll 0 0;
    height: 46px;
    width: 68px;
    right: 10px;
    display: block;
    visibility: hidden;
    top: 350px;
}

a:hover.bTop {
    background-position: 0 -60px;
}



.li td.dtl {
    word-wrap: break-word;
}


img {
    border: 0;
}



.wnd-a {
    position: absolute;
    display: none;
    background-image: url(http://pics.ebaystatic.com/aw/pics/cmp/ds2/sprOverlayPointers.png?e);
}



.rsw {
    width: 100%;
}





.dedupe {
    margin-top: 20px;
}


.ftnt {
    margin-bottom: 10px;
    margin-top: 10px;
}



.li td.dtl div.dyn {
    font-size: 11px;
    font-family: inherit;
    color: #333;
    line-height: 1.3em;
    padding-right: 16px;
}

.li td.dtl div.dynS {
    margin-top: 5px;
}









.li td.prc {
    width: 85px;
    text-align: right;
}


.li td.prc div {
    margin-bottom: 5px;
    clear: both;
}


.mgBtm10 {
    margin-bottom: 10px;
}





