@import url(font-awesome.min.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Box Model */
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

b {
    font-weight: 600;
}

.quotes {
    padding-left: 80px;
    padding-right: 80px;
    text-transform: none;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: normal;
}

.avatar {
    width: 90px;
    height: 90px;
    margin: 0px auto 30px;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #e0e0e0;
    background-color: #fff;
}


@media screen and (max-width: 640px) {
    html,
    body {
        min-width: 320px;
    }
}

body {
	background-color: #f4f4f4;
    background-image: linear-gradient(to top, rgba(245, 245, 245, 0.90), rgba(255, 255, 255, 0.94)), url("../../images/bg_main.jpg");
    background-size: auto, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
    line-height: 1;
	-webkit-text-size-adjust: none;
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/* Type */

body,
input,
select,
textarea {
    color: #333;
    font-family: MarketSans, sans-serif;
    font-size: 16.5pt;
    font-weight: 300;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {
    body,
    input,
    select,
    textarea {
        font-size: 13pt;
    }
}

@media screen and (max-width: 1280px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 980px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 640px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}

a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
    color: #333;
}

a:hover {
    border-bottom-color: transparent;
    text-decoration: none;
}

a.special:not(.button) {
    text-decoration: none;
    border-bottom: 0;
    display: block;
    font-family: MarketSans, sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0 0 2em 0;
    text-transform: uppercase;
}

a.special:not(.button):before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

a.special:not(.button):before {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px rgba(55, 55, 55, 0.6);
    content: '\f105';
    display: inline-block;
    font-size: 1.25em;
    height: 2em;
    line-height: 1.8em;
    margin-right: 0.85em;
    text-align: center;
    text-indent: 0.15em;
    vertical-align: middle;
    width: 2em;
}

a.special:not(.button):hover:before {
    background-color: rgba(255, 255, 255, 0.025);
}

a.special:not(.button):active:before {
    background-color: rgba(255, 255, 255, 0.075);
}

strong,
b {
    color: #333;
    font-weight: 600;
}

em,
i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: MarketSans, sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    font-weight: 200;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 0.9em;
}

h4 {
    font-size: 0.7em;
}

h5 {
    font-size: 0.7em;
}

h6 {
    font-size: 0.7em;
}

@media screen and (max-width: 736px) {
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 0.8em;
    }
}

hr {
    border: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin: 2.5em 0;
}

hr.major {
    margin: 4em 0;
}

/* Section/Article */

section.special,
article.special {
    text-align: center;
}

#wrapper p {
    font-family: UniversLight, Helvetica, sans-serif;
}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon>.label {
    display: none;
}

/* Image */

.image {
    border-radius: 5px;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 5px;
    display: block;
}

.image.left,
.image.right {
    max-width: 40%;
}

.image.left img,
.image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

ul.contact {
    list-style: none;
    padding: 0;
}

ul.contact li {
    text-decoration: none;
    margin: 2.5em 0 0 0;
    padding: 0 0 0 3.25em;
    position: relative;
}

ul.contact li:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.contact li:before {
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    display: inline-block;
    font-size: 0.8em;
    height: 2.5em;
    left: 0;
    line-height: 2.35em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.5em;
}

ul.contact li:first-child {
    margin-top: 0;
}

@media screen and (max-width: 736px) {
    ul.contact li {
        margin: 1.5em 0 0 0;
    }
}

ul.contacts li {
    float: left;
    margin-right: 1.5em;
}

ul.contacts a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2.1em;
    text-align: center;
    border: 0;
    box-shadow: inset 0 0 0 1px #767676;
    border-radius: 100%;
    color: #767676;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

ul.contacts a:hover {
    text-decoration: none;
    opacity: 0.7;
}

/* Features */

.features {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 2em 0;
}

.features article {
    padding: 1.75em 1.75em 0.1em 1.75em;
    background-color: #fff;
    border-radius: 5px;
    margin: 1.5em 3em 1.5em 0;
    width: calc(50% - 1.5em);
    box-shadow: 0px 1px 3px 0px #D9D9D9;
    -webkit-box-shadow: 0px 1px 3px 0px #D9D9D9;
    -moz-box-shadow: 0px 1px 3px 0px #D9D9D9;
    -o-box-shadow: 0px 1px 3px 0px #D9D9D9;
}

.features article:nth-child(2n) {
    margin-right: 0;
}

.features article .image {
    border-radius: 5px 5px 0 0;
    display: block;
    margin-bottom: .5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    position: relative;
    width: calc(100% + 3.5em);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.features article .image img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

@media screen and (max-width: 980px) {
    .features article {
        margin: 1em 2em 1em 0;
        width: calc(50% - 1em);
    }
}

@media screen and (max-width: 736px) {
    .features article {
        padding: 1.5em 1.5em 0.1em 1.5em;
        margin: 0.875em 1.75em 0.875em 0;
        width: calc(50% - 0.875em - 1px);
    }
    .features article .image {
        margin-bottom: 1.5em;
        margin-left: -1.5em;
        margin-top: -1.5em;
        width: calc(100% + 3em);
    }
}

@media screen and (max-width: 640px) {
    .features {
        display: block;
    }
    .features article {
        width: 100%;
        margin: 0 0 2em 0 !important;
    }
}

/* Header */

#topnav {
    /*-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;*/
    background-color: rgba(0, 0, 0, 0.85);
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 1.25em;
    width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

#topnav2 {
    /*-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;*/
    background-color: rgba(0, 0, 0, 0.85);
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 1.25em;
    width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
}

#topnav h1， #topnav2 h1 {
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s;
    -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s;
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
    border-bottom: 0;
    font-size: 0.8em;
    margin-bottom: 0;
    opacity: 1;
}

#topnav h1 a,
#topnav2 h1 a {
    border: 0;
	color: #fff;
	font-weight: normal;
}

#topnav .logo,
#topnav2 .logo {
	height: 1.35em;
	vertical-align: text-bottom;
}

#topnav nav {
    font-family: MarketSans, sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    height: 3em;
    letter-spacing: 0.1em;
    line-height: 3em;
    position: absolute;
    right: 0.7em;
    text-transform: uppercase;
    top: 0.7em;
}

#topnav nav a {
    border: 0;
    display: inline-block;
    padding: 0 1em;
}

#topnav nav a:before {
    float: right;
    margin-left: 0.75em;
}

#topnav nav a[href="#menu"] {
    text-decoration: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
    padding: 0 1.35em;
}

#topnav nav a[href="#menu"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#topnav nav a[href="#menu"]:before {
    content: '\f0c9';
}

#topnav nav a[href="#menu"]:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

#topnav nav a[href="#menu"]:active {
    background-color: rgba(255, 255, 255, 0.075);
}

@media screen and (max-width: 736px) {
    #topnav {
        height: 2.75em;
        line-height: 2.75em;
    }
    #topnav nav {
        height: inherit;
        line-height: inherit;
    }
    #topnav nav a {
        height: inherit;
        line-height: inherit;
    }
}

@media screen and (max-width: 640px) {
    #topnav nav a[href="#menu"] {
        width: 4em;
        white-space: nowrap;
        text-indent: 4em;
        position: relative;
    }
    #topnav nav a[href="#menu"]:before {
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        text-indent: 0;
        text-align: right;
        margin-left: 0;
        padding-right: 1.25em;
    }
}

/* Menu */

#page-wrapper {
    -moz-transition: -moz-filter 0.25s ease;
    -webkit-transition: -webkit-filter 0.25s ease;
    -ms-transition: -ms-filter 0.25s ease;
    transition: filter 0.25s ease;
}

@media screen and (max-width: 736px) {
    #menu .inner {
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #menu .inner .close {
        background-size: 1.5em 1.5em;
    }
}

/* Banner */

#banner {
    padding: 8.5em 0 6em 0;
}

#banner .inner {
    margin: 0 auto;
    width: 55em;
}

#banner .logo {
    -moz-transition: opacity 2s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 2s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 2s ease, -ms-transform 1s ease;
    transition: opacity 2s ease, transform 1s ease;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    margin: 0 0 1.3em 0;
}

#banner .logo img {
    height: 5em;
    line-height: 5em;
}

#banner h2 {
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -ms-transition-delay: 0.65s;
    transition-delay: 0.65s;
    -moz-filter: blur(0);
    -webkit-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    font-size: 2.25em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
}

#banner p {
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -moz-filter: blur(0);
    -webkit-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    font-family: UniversLight, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 2;
}

@media screen and (max-width: 1280px) {
    #banner {
        padding: 7em 0 8.25em 0;
        /*background-color: #f4f4f4;
				background-image: linear-gradient(to top, rgba(245, 245, 245, 0.92), rgba(234, 234, 234, 0.95)), url("../../images/bg_main.jpg");*/
        /*background-image:url('../../images/bg3.png');*/
        background-size: auto, cover;
        background-position: center, center;
    }
}

@media screen and (max-width: 980px) {
    #banner {
        padding: 12em 3em 12.375em 3em;
        margin-bottom: -4.75em;
    }
    #banner .inner {
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 5em 2em 4.25em 2em;
        margin-bottom: -2.5em;
    }
    #banner .logo {
        margin: 0 0 1em 0;
    }
    #banner .logo .icon {
        font-size: 1.5em;
    }
    #banner h2 {
        font-size: 1.5em;
    }
    #banner p {
        font-size: 0.8em;
    }
}

body.is-loading #banner .logo {
    -moz-transform: translateY(0.5em);
    -webkit-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    transform: translateY(0.5em);
    opacity: 0;
}

body.is-loading #banner h2 {
    opacity: 0;
    -moz-transform: translateX(0.25em);
    -webkit-transform: translateX(0.25em);
    -ms-transform: translateX(0.25em);
    transform: translateX(0.25em);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

body.is-loading #banner p {
    opacity: 0;
    -moz-transform: translateX(0.5em);
    -webkit-transform: translateX(0.5em);
    -ms-transform: translateX(0.5em);
    transform: translateX(0.5em);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

body.is-loading #banner .contacts {
    opacity: 0;
    -moz-transform: translateY(0.5em);
    -webkit-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    transform: translateY(0.5em);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/* Wrapper */

#wrapper>header {
    padding: 11em 0 2.25em 0;
}

#wrapper>header .inner {
    margin: 0 auto;
    width: 55em;
}

#wrapper>header h2 {
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 2em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
}

#wrapper>header p {
    font-family: MarketSans, sans-serif;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 2;
    text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
    #wrapper>header {
        padding: 9em 0 6.25em 0;
        background-color: #2e3141;
        background-image: linear-gradient(to top, rgba(245, 245, 245, 0.92), rgba(234, 234, 234, 0.95)), url("../../images/bg_main.jpg");
        background-size: auto, cover;
        background-position: center, 0% 30%;
        margin-bottom: -6.5em;
    }
}

@media screen and (max-width: 980px) {
    #wrapper>header {
        padding: 11em 3em 7.375em 3em;
        background-size: auto, cover;
        background-position: center, 0% 0%;
        margin-bottom: -4.75em;
    }
    #wrapper>header .inner {
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    #wrapper>header {
        padding: 6.5em 2em 3em 2em;
        background-size: auto, 125%;
        margin-bottom: -2.5em;
    }
    #wrapper>header h2 {
        font-size: 1.25em;
    }
    #wrapper>header p {
        font-size: 0.8em;
    }
}

.wrapper {
    background-color: #f4f4f4;
    margin: 6.5em 0;
    position: relative;
}

.wrapper:before,
.wrapper:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#f4f4f4;' /%3E%3C/svg%3E");
}

.wrapper:before,
.wrapper:after {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6.5em;
    position: absolute;
    width: 100%;
}

.wrapper:before {
    left: 0;
    top: -6.5em;
}

.wrapper:after {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    bottom: -6.5em;
    left: 0;
}

.wrapper.alt:before {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.wrapper.alt:after {
    -moz-transform: scaleY(-1) scaleX(-1);
    -webkit-transform: scaleY(-1) scaleX(-1);
    -ms-transform: scaleY(-1) scaleX(-1);
    transform: scaleY(-1) scaleX(-1);
}

.wrapper .inner {
    padding: 3em 0 1em 0;
    margin: 0 auto;
    width: 55em;
}

.wrapper.style2 {
    background-color: #fff;
}

.wrapper.style2:before,
.wrapper.style2:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#f4f4f4;' /%3E%3C/svg%3E");
}

.wrapper.style3 {
    background-color: #f4f4f4;
    border-bottom: 2px solid #fff;
}

.wrapper.style3:before,
.wrapper.style3:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233d4051;' /%3E%3C/svg%3E");
}

.wrapper.style4 {
    background-color: #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 0;
    padding-bottom: 4em;
}

.wrapper.style4:before,
.wrapper.style4:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#f4f4f4;' /%3E%3C/svg%3E");
}

.wrapper.style4:after {
    content: normal;
    height: 0;
    color: #f4f4f4;
}

.wrapper.style5 {
    background-color: #fff;
}

.wrapper.style5:before,
.wrapper.style5:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234d5060;' /%3E%3C/svg%3E");
}

.wrapper.style6 {
    background-color: #f4f4f4;
}

.wrapper.style6:before,
.wrapper.style6:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23555867;' /%3E%3C/svg%3E");
}

.wrapper.spotlight {
    background-color: #fff;
}

.wrapper.spotlight:before,
.wrapper.spotlight:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#fff;' /%3E%3C/svg%3E");
}

.wrapper.spotlight .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.wrapper.spotlight .image {
    border-radius: 100%;
    margin: 0 3em 2em 0;
    width: 22em;
    overflow: hidden;
    -ms-flex: 1;
}

.wrapper.spotlight .image img {
    border-radius: 100%;
    width: 100%;
    border: 1px solid #c0c0c0;
}

.wrapper.spotlight .content {
    width: 100%;
    -ms-flex: 2;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right;
}

.wrapper.spotlight:nth-child(2n - 1) .image {
    margin: 0 0 2em 3em;
}

.wrapper.spotlight.style2 {
    background-color: #f4f4f4;
}

.wrapper.spotlight.style2:before,
.wrapper.spotlight.style2:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#F4F4F4;' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style3 {
    background-color: #fff;
}

.wrapper.spotlight.style3:before,
.wrapper.spotlight.style3:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#fff;' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style4 {
    background-color: #fff;
}

.wrapper.spotlight.style4:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#F4F4F4;' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style5 {
    background-color: #ffff;
}

.wrapper.spotlight.style5:before,
.wrapper.spotlight.style5:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#323232;' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style6 {
    background-color: #fff;
}

.wrapper.spotlight.style6:before,
.wrapper.spotlight.style6:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#333;' /%3E%3C/svg%3E");
}

@media screen and (max-width: 980px) {
    .wrapper {
        margin: 4.75em 0;
    }
    .wrapper:before,
    .wrapper:after {
        height: 4.75em;
    }
    .wrapper:before {
        top: -4.75em;
    }
    .wrapper:after {
        bottom: -4.75em;
        left: 0;
    }
    .wrapper .inner {
        padding: 3em 3em 1em 3em;
        width: 100%;
    }
    .wrapper.spotlight .image {
        margin: 0 2em 2em 0;
        width: 32em;
    }
    .wrapper.spotlight:nth-child(2n - 1) .image {
        margin: 0 0 2em 2em;
    }
}

@media screen and (max-width: 736px) {
    .wrapper {
        margin: 2.5em 0;
    }
    .wrapper:before,
    .wrapper:after {
        height: 2.5em;
    }
    .wrapper:before {
        top: -2.5em;
    }
    .wrapper:after {
        bottom: -2.5em;
        left: 0;
    }
    .wrapper .inner {
        padding: 2em 2em 0.1em 2em;
    }
    .wrapper.spotlight .inner {
        -moz-align-items: -moz-flex-start;
        -webkit-align-items: -webkit-flex-start;
        -ms-align-items: -ms-flex-start;
        align-items: flex-start;
    }
    .wrapper.spotlight .image {
        width: 19em;
        margin: 0 1.75em 2em 0;
    }
    .wrapper.spotlight:nth-child(2n - 1) .image {
        margin: 0 0 2em 1.75em;
    }
}

@media screen and (max-width: 640px) {
    .wrapper.spotlight .inner {
        display: block;
    }
    .wrapper.spotlight .image {
        margin: 0 0 1em 0 !important;
        max-width: 85%;
        width: 12em;
    }
}

@media screen and (max-width: 360px) {
    .wrapper .inner {
        padding: 2em 1.5em 0.1em 1.5em;
    }
}

#quotespart {
    background-color: #fff;
}

#quotespart .inner {
    padding: 6em 0 6em 0;
    margin: 0 auto;
    width: 55em;
}

#quotespart2 .inner {
    padding: 8em 0 4em 0;
    margin: 0 auto;
    width: 55em;
}

/* Footer */

#footer {
    background-color: #f4f4f4;
    padding: 1em 2em 1em 2em;
    font-size: 0.9em;
}

#footer .inner>* {
    width: 100%;
}

#footer .inner form {
    margin: 0 3em 0 0;
    width: calc(50% - 1.5em);
}

#footer .inner .contact {
    width: calc(50% - 1.5em);
}

@media screen and (max-width: 1280px) {
    #footer {
        background-color: #fff;
        /*background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");*/
        background-size: auto, cover;
        background-position: center, center;
        margin-top: -6.5em;
        padding-top: 6.5em;
    }
}

.icontop {
    color: #fff !important;
}

.textindent {
    margin-left: 50px;
}

.copyright {
    margin-right: 80px;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(92, 95, 106, 0.75);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.75em;
    letter-spacing: 0.1em;
    line-height: 3.75em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    opacity: 0.95;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px rgba(92, 95, 106, 0.65);
}

button:active,
.button:active {
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        padding: 0;
    }
}
